<?xml version="1.0"?>
<!--
/**
 * Copyright © Panth Infotech. All rights reserved.
 * Theme Customizer Module Configuration
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Panth_ThemeCustomizer">
        <sequence>
            <module name="Panth_Core"/>
            <module name="Magento_Theme"/>
            <module name="Magento_Backend"/>
            <module name="Magento_Config"/>
            <module name="Magento_Store"/>
        </sequence>
    </module>
</config>
