<?xml version="1.0"?>
<!--
/**
 * Copyright (c) Panth Infotech. All rights reserved.
 *
 * CSS export observers removed. Theme config is now in theme-config.json.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- CSS export observers removed - theme config is now in theme-config.json -->
</config>
