<?xml version="1.0"?>
<!--
/**
 * Copyright © Panth Infotech. All rights reserved.
 * Admin Routes Configuration
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="themecustomizer" frontName="themecustomizer">
            <module name="Panth_ThemeCustomizer" />
        </route>
    </router>
</config>
